# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/

# PyCharm/VSCode
.idea/
.vscode/

# Environment variables
.env
.env
